.priorities-bg{
   background-image: url('../../assets/icons/eyfel-bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}
.visa-bg{
   background-image: url('../../assets/icons/visa-bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}