.priorities-bg{
   background-image: url('../../assets/icons/prioritet.png');
   background-repeat: no-repeat;
   background-size: cover;
}
.visa-bg{
   background-image: url('../../assets/icons/numbers-bg.png');
   background-repeat: no-repeat;
   background-size: cover;
}